/* @import "compass/css3"; */

@keyframes fadeIn { 
  from { opacity: 0; } 
}

.sb-a {
  background-color: transparent;
  color: #0058a3;
  text-decoration: underline;
}

.sb-dropdown {
  position: relative;
  z-index: 9;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}

.sb-img {
  border-style: none;
  max-width: 100%;
}

.sb-searchbar {
    /* font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', sans-serif !important; */
    background: #fff;
    color: #111;
    min-height: 100%;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    /* font: 100% sans-serif; */
    box-sizing: border-box;
    width: 99%;
}

.sb-search-results {
  flex-wrap: nowrap;
  padding-top: 1.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-align: start;
  align-items: flex-start;
  display: flex;
  max-width: 90rem;
  padding: 0 1rem 2.5rem;
  margin: 0 auto;
}

.sb-search-results__container {
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  padding-top: 0;
  padding: .5rem 0;
}

.sb-search-results__heading {
  margin-top: 1rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-left: 2rem;
  margin: .5rem 0 .5rem 1rem;
  font-size: .75rem;
  font-weight: 400;
  color: #959595;
}

.sb-header {
  display: flex;
  position: relative;
  min-height: 1rem;
  flex: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
  left: -.5rem;
  top: -.5rem;
  width: 100%;
}

.sb-header__container {
  padding: .5rem .5rem .5rem 1rem;
  margin: auto;
  max-width: 90rem;
  max-height: 48px;
  display: flex;
  align-items: center;
}

.header__h6 {
  font-size: 0.75rem;
}

/* .header__icon-list {
  padding-right: 1px;
} */

.header__icon-list-item {
  display: inline-block;
}


.header__ikea-logo {
  width: 6.25rem;
  height: auto;
  vertical-align: middle;
}

.header__logo {
  margin-right: 1.5rem;
  display: inline-block;
  vertical-align: middle;
}

.header__main-nav {
  background: #fff;
  display: flex;
  flex-grow: 1;
  position: static;
  width: auto;
  border: 0;
  z-index: 0;
  transform: none;
  top: 0;
  bottom: 0;
  left: -100%;
  flex-direction: column;
  transition: transform ease-in-out .3s;
}

.header__main-nav--wrapper {
  flex-direction: row;
  height: 40px;
  overflow: visible;
}

.header__quick-nav {
  display: inline-block;
}

.header__sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.header-top-menu-full {
  background-color: #eee;
  width: 100%;
}

.header-top-menu-content {
  display: flex;
  flex-direction: row;
  max-width: 1390px;
  margin: 0 auto;
  padding-left: 0;
  padding-top: .4rem;
  padding-bottom: .6rem;
}

.header-top-menu-item {
  font-size: 0.75rem;
}

.header-top-menu-link {
    margin: 0 1rem;
    padding: 1rem .5rem;
    color: #666;
    text-decoration: none;
}

.header__wrapper {
  max-height: 64px;
  z-index: 101;
  background: #fff;
}

.hnf-btn__badge {
  position: absolute;
  top: -.25rem;
  transform: translateX(-.5rem);
  background: #ffdb00;
  padding: 0 .295rem;
  border-radius: 8px;
  font-weight: 700;
  font-size: .75rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 5rem;
  overflow: hidden;
  left: 100%;
  line-height: 1.334;
}

.hnf-btn__copy {
  color: #111;
  position: relative;
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  line-height: 0;
  float: left;
}

.hnf-btn--icon {
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 0;
  font-weight: 700;
  font-size: .875rem;
  transition-property: background-color,border-radius,width;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
  background: rgba(0,0,0,0);
  border-radius: 50%;
  padding: .75rem;
  line-height: 0;
  position: relative;
}

.hnf-btn__icon-bg {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition-property: transform,background-color;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
}

.hnf-btn__label {
  text-indent: -999px;
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.hnf-link--black {
  color: #111;
  fill: #111;
}

.hnf-svg-icon {
  vertical-align: top;
  display: inline-block;
  fill: #111;
  transition-property: transform, fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
}

.hnf-svg-icon--100 {
  margin-left: .25rem;
  width: 1rem;
}

.searchbar-a {
  background: transparent;
  background-color: transparent;
}

.main-bygga-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin-top: 0;
  flex: 1 0 auto;
  height: 40px;
}

.main-bygga-menu__button {
  border: none;
  display: block;
  text-decoration: none;
  font-weight: 700;
  background-color: #fff;
  width: 100%;
  text-align: left;
  word-break: break-word;
  white-space: nowrap;
  font-size: 16px;
  padding-top: 2px;
}

.main-bygga-menu__button--svg {
  position: static;
  transition-duration: 0s;
  margin-top: .25rem;
  right: 1rem;
}

.main-bygga-menu__item {
  border-bottom: none;
  list-style-type: none;
  padding-left: 10px;
  font-size: 16px;
}

.main-bygga-menu__item:hover {
  text-decoration: underline;
}

.main-bygga-menu__link {
  display: block;
  text-decoration: none;
  font-weight: 700;
  background-color: #fff;
  width: 100%;
  text-align: left;
  word-break: break-word;
  white-space: nowrap;
}

/* .searchbar-div {
  display: flex;
} */

.searchbar-padder {
  padding: 0px 10px 0px 10px;
}

.search-box {
  position: relative;
  line-height: 1.5rem;
  background: #fff;
  /* padding-left: 14rem; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-field {
  position: relative;
  width: 99%;
  max-width: 1414px;
  padding: 0 0 .5rem 0;
  margin: 0 1rem;
  /* background-color: #0058a3; */
}

/* .search-field:before {
  position: absolute;
  top: 50%;
  left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  pointer-events: none;
  content: "";
  transform: translateY(-50%);
  background: url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
} */

.search-field__input {
  display: block;
  width: 100%;
  padding: .75rem 7.25rem .75rem 3.25rem;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  background-color: #eee;
  border: 0;
  border-radius: 50em;
  outline: 0;
}

.search-suggestions {
  position: absolute;
  top: 45%;
  left: .4rem;
  color: #666;
  pointer-events: none;
  transform: translateY(-50%);
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.search-suggestions__list {
  display: inline-block;
  padding-left: 5px;
  margin: 0;
  list-style: none;
  animation: fadeIn 1.5s infinite alternate;
}

.sb-search-alt {
  display: inline-block;
  padding-left: 5px;
  margin: 0;
  list-style: none;
}


.top-menu__contend-d {
  display: flex;
  flex-direction: row;
  max-width: 1390px;
  margin: 0 auto;
  padding-left: 0;
  padding-top: .4rem;
  padding-bottom: .6rem;
  width: 100%;
}

.top-menu-d {
  background-color: #eee;
  width: 100%;
  padding: 0 0 0 1.65rem ;
}

.top-menu__item {
  list-style-type: none;
}

.top-menu__item:hover {
  text-decoration: underline;
}

.top-menu__link-d {
  margin: 0 1rem;
  padding: 1rem .5rem;
  color: #666;
  text-decoration: none;
}

.top-menu__link-d:hover {
  color: #4483ba;
}